* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    ;
}

:root {
    --background-color: lightblue;
    --pry-card-color: rgb(135, 212, 238);
    --light-color: #fff;
    --scnd-bg-color: whitesmoke;
    /* font properties */
    --fs-400: clamp(.75rem, 1.5vw, 1.2rem);
    --fs-600: clamp(1rem, 2vw, 1.5rem);
    --fs-800: clamp(1.5rem, 3vw, 2rem);
    --fs-900: clamp(2rem, 4vw, 3rem);
    --fw-400: 400;
    --fw-600: 600;
    --fw-800: 800;
    --fw-900: 900;
    --fw-lighter: lighter;

    /* other properties */

    --container-height: 400px;
    --container-links-height: 60px;
    --content-height: 340px;
    /* color properties */

}


body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130vh;
}

.tittle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-weight: var(--fw-lighter);
}

.tittle p {
    margin-bottom: 70px;
}

.card_content {
    display: flex;
    justify-content: center;
    gap: 60px;
    /* justify-content: space-between; */
    /* margin: 20px; */
    width: 100%;
}

.history_card {
    display: none;
    width: 45%;
    background-color: var(--pry-card-color);
    height: var(--container-height);
    border: none;
    border-radius: 15px;
    /* flex-grow: 1; */
}

.vision_card {
    display: none;
    width: 45%;
    background-color: var(--pry-card-color);
    height: var(--container-height);
    border: none;
    border-radius: 15px;
    /* flex-grow: 1; */
}

.goals_card {
    display: none;
    width: 45%;
    background-color: var(--pry-card-color);
    height: var(--container-height);
    border: none;
    border-radius: 15px;
    /* flex-grow: 1; */
}

.history_card img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}

.vision_card img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}

.goals_card img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}

.card_links {
    display: flex;
    width: 45%;
    gap: 5px;
    flex-direction: column;
    /* background-color: var(--pry-card-color); */
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--container-links-height);
    border-radius: 10px;
    border: none;
    background-color: var(--pry-card-color);

}

.history,
.vision,
.goals {
    display: flex;
    width: 33.3333%;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    /* justify-content: center; */
    /* background-color: black; */
}


.history:hover {
    background-color: var(--light-color);
    height: inherit;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--fs-600);
}

.vision:hover {
    background-color: var(--light-color);
    height: inherit;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--fs-600);
}

.goals:hover {
    background-color: var(--light-color);
    height: inherit;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--fs-600);
}


/* .history {
    background-color: bisque;
    height: inherit;
    align-items: center;
} */

.links_content {
    display: flex;
    background-color: var(--scnd-bg-color);
    border-radius: 10px;

}

.history_content {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: var(--content-height);
    overflow: auto;
}

.vision-content {
    display: none;
    flex-direction: column;
    padding: 30px;
    justify-content: centert;
    overflow: auto;
    height: var(--content-height);

}

.goals_content {
    display: none;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    overflow: hidden;
    height: var(--content-height);
  
}

.content_name {
    font-size: var(--fs-600);
    font-weight: var(--fw-900);
    color: black;
    margin-bottom: 15px;
}

.content_1 {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: black;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;

}



@media screen and (max-width: 768px) {

    .card_content {
      display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .history_card,
    .vision_card,
    .goals_card {
        width: 90%;
        margin-bottom: 20px;
    }

    .card_links {
        width: 90%;
        margin-bottom: 20px;
  
    }
    .links {
        flex-direction: column;
        height: auto;
    }

    .history,
    .vision,
    .goals {
        width: 100%;
        height: auto;
        padding: 20px;
        margin-bottom: 10px;
    }

    .links_content {
        flex-direction: column;
    }

}